html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

html {
    background: url("2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lol{
    background-color: #e4be00;

}